<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
</head>
<body>
    <form method="POST">
        <center><p style='margin-top: 150px; color: grey;'><b>Invalid token or username</b></p></center>
        <center><button type='submit' value="Return on the main page" style='background-color: grey; border: black; height: 20px; width: 400px; margin-top: 5px;'>Return on the main page</button></center>
    </form>
</body>
</html>