<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <center><p style='margin-top: 150px; '><b>ENTER TWITTER TAG</b></p></center>
        <center><input type='text' name='user' style='background-color: skyblue; border: black; height: 20px; width: 200px; margin-top: 5px;'></center>
    </form>
</body>
</html>