<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4acea3cf2875455f8b48541f1eeaaa73 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4acea3cf2875455f8b48541f1eeaaa73" ></div>
        
</body>
<script>    
    
            var map_4acea3cf2875455f8b48541f1eeaaa73 = L.map(
                "map_4acea3cf2875455f8b48541f1eeaaa73",
                {
                    center: [42.6410472, -70.6165149],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_25aab2ecf3024b9e97ed29eb89338e6a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var marker_35f6d50f242846a1b63ecaf11b140b0f = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_be579b3e2a404f52a8315006e61b4941 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_35f6d50f242846a1b63ecaf11b140b0f.setIcon(icon_be579b3e2a404f52a8315006e61b4941);
        
    
        var popup_aff71c9c04b847da9224e0e835343ba9 = L.popup({"maxWidth": "100%"});

        
            var html_ec514978068748e1ad4309408edaee32 = $(`<div id="html_ec514978068748e1ad4309408edaee32" style="width: 100.0%; height: 100.0%;">dogecoin_devs</div>`)[0];
            popup_aff71c9c04b847da9224e0e835343ba9.setContent(html_ec514978068748e1ad4309408edaee32);
        

        marker_35f6d50f242846a1b63ecaf11b140b0f.bindPopup(popup_aff71c9c04b847da9224e0e835343ba9)
        ;

        
    
    
            var marker_0a8a2d04aa924025a85e15f88513f5e9 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_29da1c7d494b4ce1a8ac8970e8df6ab5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0a8a2d04aa924025a85e15f88513f5e9.setIcon(icon_29da1c7d494b4ce1a8ac8970e8df6ab5);
        
    
        var popup_c4c71d4ab2ef4a8fa179cbc7b36bdbeb = L.popup({"maxWidth": "100%"});

        
            var html_45a6041bb4724151bd536bb54a082412 = $(`<div id="html_45a6041bb4724151bd536bb54a082412" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_c4c71d4ab2ef4a8fa179cbc7b36bdbeb.setContent(html_45a6041bb4724151bd536bb54a082412);
        

        marker_0a8a2d04aa924025a85e15f88513f5e9.bindPopup(popup_c4c71d4ab2ef4a8fa179cbc7b36bdbeb)
        ;

        
    
    
            var marker_44658499582c4edcab1a84adeb372feb = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_9cb36a8acf484b9aae8c30d55ec952ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_44658499582c4edcab1a84adeb372feb.setIcon(icon_9cb36a8acf484b9aae8c30d55ec952ad);
        
    
        var popup_7bac1019c826453e82a92e8032b73078 = L.popup({"maxWidth": "100%"});

        
            var html_1a7ec5fc0e594cfc923fc4ef081cb975 = $(`<div id="html_1a7ec5fc0e594cfc923fc4ef081cb975" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_7bac1019c826453e82a92e8032b73078.setContent(html_1a7ec5fc0e594cfc923fc4ef081cb975);
        

        marker_44658499582c4edcab1a84adeb372feb.bindPopup(popup_7bac1019c826453e82a92e8032b73078)
        ;

        
    
    
            var marker_102730cbad1841cdbb10de5f96e0ddf6 = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_dd09fac9d0c5432baa954b64de20be7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_102730cbad1841cdbb10de5f96e0ddf6.setIcon(icon_dd09fac9d0c5432baa954b64de20be7a);
        
    
        var popup_9b9c6a6939b04c3c90ed50add9609ac0 = L.popup({"maxWidth": "100%"});

        
            var html_22bca6d2f7ce42439c52d77b48f44ed9 = $(`<div id="html_22bca6d2f7ce42439c52d77b48f44ed9" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_9b9c6a6939b04c3c90ed50add9609ac0.setContent(html_22bca6d2f7ce42439c52d77b48f44ed9);
        

        marker_102730cbad1841cdbb10de5f96e0ddf6.bindPopup(popup_9b9c6a6939b04c3c90ed50add9609ac0)
        ;

        
    
    
            var marker_44d01b4fef6a49f1bbeb7492f8845406 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_355f59f64b4845e1975367bc1bd5a3f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_44d01b4fef6a49f1bbeb7492f8845406.setIcon(icon_355f59f64b4845e1975367bc1bd5a3f1);
        
    
        var popup_911481df0e7f4653b2a1b0e5c92f35dc = L.popup({"maxWidth": "100%"});

        
            var html_5a0f40f56c1e4769ac7d310518d45146 = $(`<div id="html_5a0f40f56c1e4769ac7d310518d45146" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_911481df0e7f4653b2a1b0e5c92f35dc.setContent(html_5a0f40f56c1e4769ac7d310518d45146);
        

        marker_44d01b4fef6a49f1bbeb7492f8845406.bindPopup(popup_911481df0e7f4653b2a1b0e5c92f35dc)
        ;

        
    
    
            var marker_a9f5ce8e52654af8a493c7ff62d788a5 = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_e59a7523c11c4fc6807dae47040b1db2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a9f5ce8e52654af8a493c7ff62d788a5.setIcon(icon_e59a7523c11c4fc6807dae47040b1db2);
        
    
        var popup_c850a62d6b184fc2bc1b0498306bccee = L.popup({"maxWidth": "100%"});

        
            var html_68d1024c3f8c412a9bbea1d90328806a = $(`<div id="html_68d1024c3f8c412a9bbea1d90328806a" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_c850a62d6b184fc2bc1b0498306bccee.setContent(html_68d1024c3f8c412a9bbea1d90328806a);
        

        marker_a9f5ce8e52654af8a493c7ff62d788a5.bindPopup(popup_c850a62d6b184fc2bc1b0498306bccee)
        ;

        
    
    
            var marker_9fdcae91df0c4323ae0c47ab2e94cac4 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(map_4acea3cf2875455f8b48541f1eeaaa73);
        
    
            var icon_9fe92268be5542699fe166df63a6e91c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9fdcae91df0c4323ae0c47ab2e94cac4.setIcon(icon_9fe92268be5542699fe166df63a6e91c);
        
    
        var popup_a67862fc4b134799894babc82834793c = L.popup({"maxWidth": "100%"});

        
            var html_d4ed49a8b5374b92a523c436d2a83814 = $(`<div id="html_d4ed49a8b5374b92a523c436d2a83814" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_a67862fc4b134799894babc82834793c.setContent(html_d4ed49a8b5374b92a523c436d2a83814);
        

        marker_9fdcae91df0c4323ae0c47ab2e94cac4.bindPopup(popup_a67862fc4b134799894babc82834793c)
        ;

        
    
</script>