<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f779e3ea45904192a3b19c44d03a7ac4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f779e3ea45904192a3b19c44d03a7ac4" ></div>
        
</body>
<script>    
    
            var map_f779e3ea45904192a3b19c44d03a7ac4 = L.map(
                "map_f779e3ea45904192a3b19c44d03a7ac4",
                {
                    center: [40.7127281, -74.0060152],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6af9603ab1fd411bb10a1b0024fe193c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var marker_2e458937096243e6b94bc40f987fd68b = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_feb6478a02e24e32b87ce8fe33d4f47c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2e458937096243e6b94bc40f987fd68b.setIcon(icon_feb6478a02e24e32b87ce8fe33d4f47c);
        
    
        var popup_c235525011c748f2883db73dee7295b3 = L.popup({"maxWidth": "100%"});

        
            var html_be3f4c068b8d46bf88fb731db0fdb24a = $(`<div id="html_be3f4c068b8d46bf88fb731db0fdb24a" style="width: 100.0%; height: 100.0%;">BillClinton</div>`)[0];
            popup_c235525011c748f2883db73dee7295b3.setContent(html_be3f4c068b8d46bf88fb731db0fdb24a);
        

        marker_2e458937096243e6b94bc40f987fd68b.bindPopup(popup_c235525011c748f2883db73dee7295b3)
        ;

        
    
    
            var marker_dad2c9b2e57f4852b7ee0b91878db787 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_5e3fab4ec1bf4a36ae5edfef97cc5014 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_dad2c9b2e57f4852b7ee0b91878db787.setIcon(icon_5e3fab4ec1bf4a36ae5edfef97cc5014);
        
    
        var popup_1d0fb6c685cb4eeb8d8e4e6a61484a8c = L.popup({"maxWidth": "100%"});

        
            var html_40bcb6d104fa447980eceb33fed2ac73 = $(`<div id="html_40bcb6d104fa447980eceb33fed2ac73" style="width: 100.0%; height: 100.0%;">KamalaHarris</div>`)[0];
            popup_1d0fb6c685cb4eeb8d8e4e6a61484a8c.setContent(html_40bcb6d104fa447980eceb33fed2ac73);
        

        marker_dad2c9b2e57f4852b7ee0b91878db787.bindPopup(popup_1d0fb6c685cb4eeb8d8e4e6a61484a8c)
        ;

        
    
    
            var marker_52296680a427494f883ba189f36a6927 = L.marker(
                [42.3788774, -72.032366],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_32f7c336880643e2b9518aaedd44844d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_52296680a427494f883ba189f36a6927.setIcon(icon_32f7c336880643e2b9518aaedd44844d);
        
    
        var popup_d4aa5be95d354a13bc2cc89acb1d14c2 = L.popup({"maxWidth": "100%"});

        
            var html_7bf7d21c38b1412eac9b265fa30af953 = $(`<div id="html_7bf7d21c38b1412eac9b265fa30af953" style="width: 100.0%; height: 100.0%;">DevalPatrick</div>`)[0];
            popup_d4aa5be95d354a13bc2cc89acb1d14c2.setContent(html_7bf7d21c38b1412eac9b265fa30af953);
        

        marker_52296680a427494f883ba189f36a6927.bindPopup(popup_d4aa5be95d354a13bc2cc89acb1d14c2)
        ;

        
    
    
            var marker_a064f434a759408baf5cf72b02a4f69d = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_44d2daf10232435fbb6533ed906c70e5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a064f434a759408baf5cf72b02a4f69d.setIcon(icon_44d2daf10232435fbb6533ed906c70e5);
        
    
        var popup_e6e9ab7225a64f539949808121dbb35d = L.popup({"maxWidth": "100%"});

        
            var html_a4e9f01c8b634d63b88005021afba03a = $(`<div id="html_a4e9f01c8b634d63b88005021afba03a" style="width: 100.0%; height: 100.0%;">MsTurnageYoung</div>`)[0];
            popup_e6e9ab7225a64f539949808121dbb35d.setContent(html_a4e9f01c8b634d63b88005021afba03a);
        

        marker_a064f434a759408baf5cf72b02a4f69d.bindPopup(popup_e6e9ab7225a64f539949808121dbb35d)
        ;

        
    
    
            var marker_94715da8af2a4322b4d695980c9e3545 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_9e837f1828ef48f29349d1f13b0f98c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_94715da8af2a4322b4d695980c9e3545.setIcon(icon_9e837f1828ef48f29349d1f13b0f98c3);
        
    
        var popup_3d652bea812a430d8c3da03cbf7f4a27 = L.popup({"maxWidth": "100%"});

        
            var html_a2a7b2cc87d643f8aa5bfc0de3c13ba8 = $(`<div id="html_a2a7b2cc87d643f8aa5bfc0de3c13ba8" style="width: 100.0%; height: 100.0%;">justinsink</div>`)[0];
            popup_3d652bea812a430d8c3da03cbf7f4a27.setContent(html_a2a7b2cc87d643f8aa5bfc0de3c13ba8);
        

        marker_94715da8af2a4322b4d695980c9e3545.bindPopup(popup_3d652bea812a430d8c3da03cbf7f4a27)
        ;

        
    
    
            var marker_cf1cc297a0134492b221c29cdbd67387 = L.marker(
                [40.7341857, -74.00558],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_f642ab0eb291451cb8aaf132c064685d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cf1cc297a0134492b221c29cdbd67387.setIcon(icon_f642ab0eb291451cb8aaf132c064685d);
        
    
        var popup_ae9450606e444d15a577c7eba76e6035 = L.popup({"maxWidth": "100%"});

        
            var html_380e7780b6e24e0fa31a5bc040202f9d = $(`<div id="html_380e7780b6e24e0fa31a5bc040202f9d" style="width: 100.0%; height: 100.0%;">codykeenan</div>`)[0];
            popup_ae9450606e444d15a577c7eba76e6035.setContent(html_380e7780b6e24e0fa31a5bc040202f9d);
        

        marker_cf1cc297a0134492b221c29cdbd67387.bindPopup(popup_ae9450606e444d15a577c7eba76e6035)
        ;

        
    
    
            var marker_b284b8305d074e7fbd8fb92c8454ea84 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_fb6ba4838e2246278aed4ca98d261512 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b284b8305d074e7fbd8fb92c8454ea84.setIcon(icon_fb6ba4838e2246278aed4ca98d261512);
        
    
        var popup_cc6ebec6c89445b4b419db43de2b698d = L.popup({"maxWidth": "100%"});

        
            var html_c220ae6f21cd4a61834669c7edf17bee = $(`<div id="html_c220ae6f21cd4a61834669c7edf17bee" style="width: 100.0%; height: 100.0%;">jenfriedman13</div>`)[0];
            popup_cc6ebec6c89445b4b419db43de2b698d.setContent(html_c220ae6f21cd4a61834669c7edf17bee);
        

        marker_b284b8305d074e7fbd8fb92c8454ea84.bindPopup(popup_cc6ebec6c89445b4b419db43de2b698d)
        ;

        
    
    
            var marker_943dc01a1f424723ac22b64be53457c6 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_e2e14a5df45048b1acff7713bb45ecb6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_943dc01a1f424723ac22b64be53457c6.setIcon(icon_e2e14a5df45048b1acff7713bb45ecb6);
        
    
        var popup_299c1608f0d64617bae7ba6fd08d4307 = L.popup({"maxWidth": "100%"});

        
            var html_57d9810be78c492798e9228de0e32685 = $(`<div id="html_57d9810be78c492798e9228de0e32685" style="width: 100.0%; height: 100.0%;">LizMarieAllen</div>`)[0];
            popup_299c1608f0d64617bae7ba6fd08d4307.setContent(html_57d9810be78c492798e9228de0e32685);
        

        marker_943dc01a1f424723ac22b64be53457c6.bindPopup(popup_299c1608f0d64617bae7ba6fd08d4307)
        ;

        
    
    
            var marker_2383b9a52681458fb22c2063298a9f63 = L.marker(
                [41.8755616, -87.6244212],
                {}
            ).addTo(map_f779e3ea45904192a3b19c44d03a7ac4);
        
    
            var icon_42dff690c7a2498e8f74baf33d74fda9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2383b9a52681458fb22c2063298a9f63.setIcon(icon_42dff690c7a2498e8f74baf33d74fda9);
        
    
        var popup_ffb5e1cf538b4b33b2495489a6477dc8 = L.popup({"maxWidth": "100%"});

        
            var html_325b573fda6a4906ba8a670822292419 = $(`<div id="html_325b573fda6a4906ba8a670822292419" style="width: 100.0%; height: 100.0%;">korischulman</div>`)[0];
            popup_ffb5e1cf538b4b33b2495489a6477dc8.setContent(html_325b573fda6a4906ba8a670822292419);
        

        marker_2383b9a52681458fb22c2063298a9f63.bindPopup(popup_ffb5e1cf538b4b33b2495489a6477dc8)
        ;

        
    
</script>